body::after {
	content: "";
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 0.8s ease 0s;
	pointer-events: none;
	z-index: 149;
}
.popup-show body::after {
	opacity: 1;
}
.popup {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	padding: 30px 10px;
	transition: visibility 0.8s ease 0s;
	visibility: hidden;
	pointer-events: none;
}
.popup_show {
	z-index: 250;
	visibility: visible;
	overflow: auto;
	pointer-events: auto;
}
.popup_show .popup__content {
	visibility: visible;
	transform: scale(1);
	display: flex;
	flex-direction: column;
	align-items: center;
}
.popup__wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100%;
	flex: 1 1 auto;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.popup__content {
	visibility: hidden;
	transform: scale(0);
	transition: transform 0.5s ease 0s;
	background-color: #eee;
	padding: 20px;
	width: 100%;
	max-width: 900px;
	border-radius: 20px;
	.lock & {
		visibility: visible;
	}
}

.close {
	position: absolute;
	right: 22px;
	top: 0px;
	width: 32px;
	height: 32px;
	opacity: 0.5;
 }
 .close:hover {
	opacity: 1;
 }
 .close:before, .close:after {
	position: absolute;
	left: 15px;
	content: ' ';
	height: 33px;
	width: 2px;
	background-color: #333;
 }
 .close:before {
	transform: rotate(45deg);
 }
 .close:after {
	transform: rotate(-45deg);
 }

.popup__text {
	margin-top: 35px;
	//margin-left: 2px;
	//margin-right: 25px;
	margin-bottom: 35px;
	display: flex;
	justify-content: center;
	padding-bottom: 70%;
	width: 50%;
}