p {
	font-size: 16px;
	span {
		font-weight: 600;
	}
	@media (max-width:$mobile){
		 font-size: 14px; 
	}
}
/*=====ADVATAGES========*/

.page {

	&__advantages {
		margin-top: 40px;
	}
}
.advantages {

	&__container {
		@media (max-width:$mobile){
			 padding-left: 27.5px;
			 padding-right: 27.5px;
		}
	}

	& p {
		
		}
	}

.advanages {

	&__body {
		margin-top: 35px;
		margin-bottom: 30px;
		display: flex;
		//justify-content: space-between;
		@media (max-width: $tablet){
			  margin-top: 20px;
			 margin-bottom: 20px;
			 //flex-direction: column;
			 display: block;
		}
		@media (max-width:$mobile){
			 
		}
	}

	&__item {
		flex: 0 0 percent(635,1280);
		&:last-child{
			padding-left: 100px;
			& .item-advantages__img {
				padding-bottom: 63.552%;
			}
			@media (max-width:$tablet){
				 padding-left: 0; 
			}
		}
		@media (max-width:$tablet){
			 &:not(:first-child) {
				margin-top: 20px;
			 } 
		}
	}

}
.item-advantages {
	position: relative;
	//z-index: 2;
	&__img {
		//padding-bottom: percent(340,1250);
		&:first-child{
			padding-bottom: 53.544%;
			@media (max-width:$mobile){
				  
			}
		}
		&:last-child{
			//padding-bottom: 53%;
		}
		transition: 0.4s;
		opacity: 1;
		@media (min-width:$tablet){
			&:hover{
				opacity: 0.1;
				z-index: 2;
				& ~ .item-advantages__scroll {
					//top: 0%;
					transform: translateY(0%);
					padding-top: 10px;
					visibility: visible;
					opacity: 1;
					//z-index: 2;
				}
			} 
		}
	}

	&__title {
		text-transform: uppercase;
		font-size: 18px;
		@include adaptiveValue("font-size", 18, 14,1280,1024,1);
		font-weight: 600;
		display: block;
		@media (min-width:$tablet){
			 margin-top: 30px; 
		}
		@media (max-width:$tablet){
			 font-size: 16px;
			 margin-top: 25px;
		}
		@media (max-width:$mobile){
			 font-size: 14px; 
		}
	}

	&__scroll {
		@media (min-width:$tablet){
			position: absolute;
			top: 0%;
			transform: translateY(100%);
			//width: 100%;
			transition: 0.4s;
			visibility: hidden;
			opacity: 0;
			padding-left: 25px;
		}
		
		//z-index: 2;
		//pointer-events: none;
	}

	&__subtitle {
		display: block;
		margin-top: 45px;
		@include adaptiveValue("margin-top", 25, 12,1280,1024,1);
		@media (max-width: $tablet){
			 margin-top: 45px; 
		}
		margin-bottom: 5px;
		@media (max-width:$mobile){
			 margin-top: 25px;
			 font-size: 14px;
		}
		font-weight: 600;
	}

	&__list {
		list-style: initial;
	}

	&__punkt {
		//font-size: 14px;
		//display: flex;
		@media (max-width:em(1100)){
			 font-size: 14px; 
		}
		&:not(:last-child) {
			margin-bottom: 5px;
			@include adaptiveValue("margin-bottom", 5, 1,1280,1024,1);
			@media (max-width: $tablet){
				 margin-bottom: 5px; 
			}
		}
		&::before{
			// content:'';
			// flex: 0 0 5px;
			// display: block;
			// width: 5px;
			// height: 5px;
			// margin-right: 10px;
			// margin-top: 9px;
			// border-radius: 50%;
			// background-color: $mainColor;
			content: "\2022"; /* юникод точки */
			//color: orange; /* Менять цвет */
			//font-weight: bold; /* Менять жирность */
			display: inline-block; /* Расстояние между точкой и текстом */
			width: 1em; /* Задать значение расстояния */
		}
	}
}

/*=======FORM==========*/

.page {

	&__diller-form {
		@include adaptiveValue("margin-top", 40, 30,1280,320,1);
		//background-color: #f8f8f8;
	}
}
.diller-form {

	&__container {
		p {
			margin-top: 40px;
		}
		@media (max-width:$mobile){
			padding-left: 27.5px;
			padding-right: 27.5px;
	  }
	}

	&__title {
		
		span {
			//background-color: #f8f8f8;
		}
		@media (min-width:$mobile){
			 br {
				display: none;
			 }
		}
		@media (max-width:$mobile){
			&::before, &::after{
				content:'';
				transform: translateY(-14px);
			}

			 display: flex;
			 justify-content: center;
			 align-items: center; 
		}
	}

	&__form {
		margin-top: 40px;
	}
}
.title {
}
.form-diller {

	&__firsttitle {
		display: block;
		text-align: center;
		font-weight: 600;
		font-size: 20px;
	}

	&__body {
		background-color: #f8f8f8;
		@include adaptiveValue("margin-top", 34, 25,1280,320,1);
		border: 1px solid $mainColor;
		padding: 30px 27.5px;
		fieldset {
			margin-top: 40px;
			
		}
		@media (max-width:$mobile){
			 //padding: 30px 30px; 
			 border: initial;
			 margin-left: -27.5px;
   		 margin-right: -27.5px;
		}
	}

	&__item {
		&:not(:last-child) {
			margin-bottom: 40px;
		}
	}

	&__group {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
   	 row-gap: 25px;
		&:not(:last-child) {
			margin-bottom: 25px;
		}
		@media (max-width: em(900)){
			justify-content: flex-start;
			column-gap: 20px;
		}
		@media (max-width:$mobile){
			 display: block;
			 margin-bottom: 0;
			 &:not(:last-child) {
				margin-bottom: 15px;
			}
		}
	}

	&__input {
	}

	&__title {
		display: inline-block;
		font-weight: 600;
		@media (max-width:$mobile){
			 font-size: 14px; 
		}
		//margin-bottom: 15px;
		span {
			color: red;
			&.otvet {
				color: #b1b1b1;
				font-weight: normal;
			}
		}
		br {
			@media (min-width:$mobile){
				 display: none; 
			}
		}
	}

	&__options {
		display: flex;
		margin-top: 10px;
		@media (max-width:$mobile){
			display: block; 
	  }
	}

	&__check {
		//display: flex;
		//align-items: center;
		//justify-content: space-between;
		//flex-wrap: wrap;
		//row-gap: 30px;
		margin-top: 10px;
	}

	&__button {
		@include adaptiveValue("margin-top", 50, 25,1280,320,1);
		@include adaptiveValue("margin-bottom", 60, 25,1280,320,1);
		display: block;
			padding: 25px 40px;
			width: 100%;
			//font-weight: 600;
			color: white;
			text-align: center;
		
			background-color: $mainorange;
			text-transform: uppercase;
			// &:hover{
			// 	background-size: 100% 100%;
			// 	color: white;
			// 	border: 2px solid red
			// };
			@media (max-width:$mobile){
				padding: 25px 10px;
				font-size: 14px;
		  }
			font-size: 16px;;
		
	}
}
.input {
}
.tel {
}
.inn {
}
.options {

	&__item {
	}

	&__input {
	}

	&__label {
	}

	&__text {
	}
}
.checkbox {
	//display: flex;
	//align-items: center;
	//margin-right: 35px;
	
	&__input {
	}

	&__label {
	}

	&__text {
		line-height: 1.2;
		a {
			text-decoration: underline;
		}
		@media (max-width:$mobile){
			line-height: 1.5;
			font-size: 14px;
			 br {
				display: none;
			 } 
		}
	}
}
.contact {

	&__btn {
	}
}
.button {
}
